[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/xml"]
	path = cookbooks/xml
	url = git://github.com/opscode-cookbooks/xml.git
[submodule "cookbooks/imagemagick"]
	path = cookbooks/imagemagick
	url = git@github.com:opscode-cookbooks/imagemagick.git
[submodule "cookbooks/phantomjs"]
	path = cookbooks/phantomjs
	url = git://github.com/customink-webops/phantomjs.git
